.DS_Store
*__pycache__/
.vscode/
cache_*/

Logs/
out/
output/
out_inference/
geo_inference/
vis_results/
geo_out/
training/out/
depth_renderer/geo_inference/

build/
dist/
*.so
*.o
*.egg-info/
*.obj
*.mtl
*.pkl
*.log
*.bin
/lib
*.pth
*.pt

local_readme.md